body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	box-sizing: border-box;
	width: 400px;
	height: 450px;
	margin: 0;
	padding: 0;
}

h1 {
	color: #007bff;
	text-align: center;
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

p {
	text-align: center;
}

button {
	display: inline-block;
	margin: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 100%;
	margin: 0;
}
